.container {
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
}
/*Header-START*/
.navbar-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.navbar-menu-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 72px;
}
.navbar-menu-link {
    text-decoration: none;
    color: #FF0000;
}
/*Header-END*/
/*Main-content START*/
.img-fluid {
    width: 100%;
}
.main-content {
    text-align: center;
}
.main-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    margin-top: 49px;
}
.main-text {
    margin-top: 38px;
    padding: 0 67px;
    text-align: center;
    letter-spacing: 2.4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

}
.main-button {
    width: 191px;
    height: 51px;
    margin-top: 66px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FF0000;
    color: white;
    border: 1px solid;
    border-radius: 4px;
}
/*Main-content End*/
/*FOOTER Start*/
.footer-copyright {
    margin-top: 82px;
    margin-bottom: 29px ;
    text-align: right;
}
.copyright-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

}
/*FOOTER END*/