body {
    background-image: url("../img/background/bg1.png");
    background-size: cover;
}

/*Header Start*/
.header-navbar, .header-registration-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar {
    padding: 18px 80px;
    background: rgba(0, 0, 0, 0.4);

}

.header-title-link {
    font-family: Ubuntu, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.header-title-link:hover {
    color: #236D47;
}

.header-registration-text-link {
    text-decoration: none;
    color: white;
}

.header-registration-text-link:hover {
    color: #236D47;
}

.header-registration-text {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: white;

}

.header-icon-svg {
    margin-right: 25px;
    fill: white;
}

.header-icon-svg:hover {
    fill: #236D47;

}

.header-registration-text::before {
    content:'' ;
    height: 19px;
    border: 1px solid #000000;
    margin-right: 25px;
    background: black;
    opacity: 0.41;

}


/*Header end*/
/*main start*/
.form {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    /*height: calc(100vh - 62px);*/
    align-items: center;

}

/*Registration form start*/
.form-title {
    color: #434343;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
}

.form-title-login-link {
    text-decoration: none;
    color: #3CB878;
}
.form-title-login-link:hover {
 border-bottom: 1px solid #3CB878;
}

.registration-form {
    margin-top: 54px    ;
    background-color: white;
    padding: 30px 60px;
    width: 444px;
    position: relative;

}

.registration-form::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    left: 0;

}

.form-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main-registration-form {
    display: flex;
    flex-direction: column;

}

.form-text {
    font-family: Ubuntu, sans-serif;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 5px #eaeaea;
    padding: 14px 19px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: #434343;
    background-color: transparent;


}

.form-text:focus {
    box-shadow: 0 4px 12px #dbdbdb;
}

.form-text:hover {
    box-shadow: 0 4px 12px #dbdbdb;
}


/*Registration form end*/
/*form btn*/

.form-social-network-btn {
    margin-bottom: 30px;
    font-family: Ubuntu sans-serif;
    display: flex;
    justify-content: center;
}

.btn-social-facebook {
    border: none;
    background-color: #305DB8;
    border-radius: 4px;
}
.btn-social-google {
    border-radius: 4px;
    border: none;
    background-color: #DF4A32;
    margin-left: 8px;
}

.btn-text {
    color: white;
    font-family: Ubuntu sans-serif;
}
.btn-text::before {
    content: '';
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    border-right: solid 1px black;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;


}

.btn-img {
    height: 24px;
}



.btn-social {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 11px 20px;
}

.btn-social-facebook:hover,
.btn-social-facebook:focus {
    background-color: #022263;
}

.btn-social-google:hover,
.btn-social-google:focus {
    background-color: #AB1F09;
}


/*Form divider*/
.form-divider {
    color: #848484;
    margin-bottom: 11px;
    text-align: center;
}

.form-divider::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 152px;
    height: 1px;
    background: #eaeaea;
    margin-right: 18px;
}

.form-divider::after {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 152px;
    height: 1px;
    background: #eaeaea;
    margin-left: 18px;

}

/*Form divider*/

.create-account {
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
    border: solid 1px;
    padding: 14px 19px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #3cb878;
}

.create-account:hover {
    background-color: #329a65;
}

.agree-btn {
    text-decoration: none;
    font-size: 14px;
    font-family: Ubuntu sans-serif;
    color: #3CB878;
}

.agree-btn:hover {
    text-decoration: underline;
    color: #329a65;
}
input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .term-checkbox::before {
    content: "\2714";
}

.term-checkbox::before {
    content: "\00A0";
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #eaeaea;
    color: #39ba78;
    border-radius: 2px;
    vertical-align: baseline;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
}



/*main end*/
