.main-img {
  background-image: url("/dist/img/header/intro-img 1small.png");
  background-size: cover;
  height: 150px; }

.header__navbar__and__img {
  margin: 33px 28px; }

@media all and (min-width: 481px) and (max-width: 992px) {
  .main-img {
    background-image: url("/dist/img/header/intro-img 1.png");
    height: 361px; } }

@media all and (min-width: 993px) {
  .main-img {
    background-image: url("/dist/img/header/intro-img big.png");
    height: 550px; } }
