.mr {
  margin: 0; }

.hidden-post {
  display: none; }

.main {
  margin-bottom: 77px;
  margin-left: 28px; }

.recent-post-section-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  padding-bottom: 23px;
  color: #4E4E4E; }

.recent-post-title {
  line-height: 30px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #4E4E4E; }

.recent-post-text {
  line-height: 20px;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #7C7C7C;
  margin-bottom: 29px; }

.recent-post-description {
  color: #5C5C5C;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  display: none; }

.recent-post-img {
  margin-bottom: 11px; }

/*TABLET///////////////////////////////////////////*/
@media all and (min-width: 481px) and (max-width: 992px) {
  .main {
    margin-left: 80px; }
  .our-recent-posts {
    display: flex; }
  .recent-post-text {
    margin-bottom: 13px; }
  .recent-post-description {
    display: inline-block; }
  .recent-post-all-text {
    margin-left: 20px;
    width: 46%; }
  .our-recent-posts {
    margin-bottom: 30px; } }

/*PC///////////////////////////////////////////*/
@media all and (min-width: 993px) {
  .hidden-post {
    display: block; }
  .main-flex {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .recent-post-all-text {
    margin-right: 25px; }
  .our-recent-posts {
    display: flex; }
  .recent-post-all-text {
    margin-left: 20px; }
  .recent-post-text {
    margin-bottom: 13px; } }
