.card_img {
  width: 150px;
  height: 150px;

}

.card-item {
  display: grid;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 5px;
  width: 18%;
  padding: 10px;
  transition: 0.5s;
}

.card-item:hover {
  width: 21%;
  transition:0.7s;
}

.card_description {
  text-align: left;
  font-size: 12px;
}
