.wrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 7, 1);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  background-color: darkred;
  width: 500px;
  height: 250px;
  text-align: center;


  &__body {
    color: white;
    text-align: center;
  }
}

.modal-window > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  padding: 10px 20px 10px 20px;
  color: white;
}

header > p {
  background-color: crimson;
  cursor: pointer;
}

.modal-window > button {
  margin-left: 20px;
  width: 60px;
  height: 25px;
  background-color: crimson;
  border: none;
  color: white;
  cursor: pointer;
}

