.container {
    width: 1280px;
    margin: 0 auto;
}

.titles-description {
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    margin-bottom: 50px;
}

/*Header-start*/
.header-navbar {
    background-image: url("../img/background-img/header-bg.jpeg");
    background-size: 100%;
    background-position: center;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.top-navbar-logo {
    display: flex;
    padding-left: 29px;
}

.top-navbar-logo-article-link {
    font-size: 22px;
    color: white;
    text-decoration: none;
    margin-left: 27px;

}

.header-search-icon {
    background-color: black;
    padding: 22px 26px;
}

.top-navbar-menu {
    display: flex;
    justify-content: space-between;

}

.top-navbar-menu-item {
    list-style: none;
    margin-right: 35px;
}

.top-navbar-menu-link:hover {
    color: #14B9D5;
}

.top-navbar-menu-text {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.header-text {
    padding-top: 164px;
    padding-bottom: 75px;
}

.header-title {
    text-align: center;
    font-size: 27px;
    color: white;
}

.header-btn {
    display: flex;
    justify-content: center;
    margin-top: 44px;

}

.btn {
    font-size: 18px;
    padding: 17px 30px;
    border: none;
    color: white;
    border-radius: 4px;
}

.btn-subscribe {
    background-color: #89CA62;
    margin-right: 20px;

}

.btn-best-articles {
    background-color: #14B9D5;

}


/*Header-End*/
/*Most-popular-posts START*/
.most-popular-posts {
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 75px;

}

.most-popular-posts-title {
    margin-bottom: 20px;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 975px;

}

.popular-posts-img-description {
    padding: 20px 15px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}


/*Most-popular-posts END*/
/*Popular-clients start*/

.popular-clients {
    padding-top: 108px;
    padding-bottom: 191px;
    background-image: url("../img/background-img/parallax-bg.jpeg");
}

.most-popular-clients-title {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    text-align: center;

}

.most-popular-clients-title::after {
    content: "";
    top: 0;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    display: block;
    margin: 95px auto;
}


.most-popular-clients-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}


/*Popular-clients end*/


/*TOP-RATED START*/
.top-rated {
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-rated-posts {
    padding-top: 50px;
    display: grid;
    grid-auto-flow: column;
}

.top-rated-img {
    width: 100%;
}


/*TOP-RATED End*/
/*HOT-NEWS START*/

.hot-news-text {
    text-align: right;
    padding: 14px 24px;
    background-color: #F9F7F7;
}

.hot-news-title {
    font-size: 18px;
    color: black;
    font-weight: bold;

}

.hot-news-desription {
    font-size: 14px;
    color: #5B6469;
}

.hot-news-img {
    width: 100%;
}

.only-title {
    background-color: #F9F7F7;
    padding: 14px 27px;
    text-align: center;
}

.hot-news-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    padding-top: 50px;
    padding-bottom: 70px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}

.item1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: item1;

}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: item8;
    height: 100%;
}

/*HOT-NEWS START*/

/*footer start*/
.bottom-page {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottom-copyright {
    display: grid;
    grid-template-columns:  1fr 1fr;

}

.copyright-text {
    font-size: 13px;
    color: white;
}

.copyright-logo {
    display: flex;
    align-items: center;
    justify-self: flex-end
}


/*footer end*/


