.btnOne {
    background-color: red;
}

.btnTwo {
    background-color: blue;
}

.btn {
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid white;
    border-radius: 1px;
    transition: 0.2s;
}

.buttn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnOne_Modal {
    background-color: #b3382c;
}


.btnTwo_Modal {
    background-color: #b3382c;

    margin-left: 10px;
}
