.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/*Header-logo start*/
.header {
    padding-top: 61px;
}

.header-logo-link {
    font-size: 80px;
    text-decoration: none;
    color: black;
}

.logo-blue-color {
    color: #4BCAFF;
}

/*Header-logo end*/
/*Header_navbar-start*/
.navbar-menu {
    margin-top: 38px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
}

.navbar-menu-item {
    padding: 26px 41px;
    border-left: 1px solid white;
    list-style: none;
}
.navbar-menu-text-decoration {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.navbar-menu-item:hover {
    background-color: #222F3A;
}

/*Header_navbar-end*/
/*main Sidebar Start*/
.sidebar {
    display: inline-block;
    border: 1px solid #000000;
    width: 344px;
    vertical-align: top;

}

.sidebar-item {
    list-style: none;
    padding: 30px 0 30px 44px;
}
.main-sidebar-text-decoration {
    font-size: 27px;
    color: #485863;
    text-decoration: none;

}

.sidebar-item:hover {
    background-color: #dbdbdb;

}

.sidebar-item-link:hover {
    color: black;
    padding-left: 50px;

}

/*main Sidebar End*/
/*Main-content Start*/
.main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main-content {
    display: inline-block;
    width: 878px;


}

.main-img {
    border: 1px solid #000000;
    text-align: center;
    padding: 75px 0;

}

.goat-img {
    transition: 0.4S;
    width: 320px;


}

.goat-img:hover {
    transform: scale(1.3);
}

.main-text-title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
}

/*Main-content End*/
/*Footer Start*/
.page-menu-bottom {
    margin-top: 54px;
    margin-bottom: 30px;
    background-color: #b4b7ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;

}
.bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu-item {
    list-style: none;
    margin-right: 30px;

}

.bottom-menu-text-decoration {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: black;
}
.bottom-menu-link:hover {
    color: #3181A6;
    text-decoration: underline;
}
.copyright-text {
    font-size: 24px;

}
/*footer End*/


