body {
    background-image: url("../img/background/background 1.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}

/*HEADER Start*/
.header-top-menu {
    padding-top: 51px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    text-decoration: none;
}
.header-logo-link:hover .header-logo-link-title {
    color: #F26522;
}
.header-logo-link:hover .header-logo-link-img {
    content: url("../img/logo 2.png");
}

.header-logo-link-title {
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-logo-link-subtitle {
    font-size: 18px;
}

.header-contacts-bar {
    text-align: right;
}

.header-contacts-bar-link {
    text-decoration: none;
}


.header-contacts-bar-email {
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.header-contacts-bar-phone {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding-top: 19px;
    color: white;
    font-size: 18px;

}


.header-contacts-bar-email:hover {
    color: #F26522;
}

.header-contacts-bar-phone:hover {
    color: #F26522;

}

/*Header End*/


/*Main-content Start*/
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 37px;
}

.tour-card-img {
    position: relative;
    overflow: hidden;

}

.tour-card-link {
    text-decoration: none;

}

.tour-card-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;


}

.main-posts {
    position: relative;
    margin-top: 20px;
    margin-bottom: 37px;

}

.card-details {
    display: none;
    background: #f26522;
    position: absolute;
    left: 0;
    right: 0;
    padding: 18px 21px;
}

.tour-price {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.view-details-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10px;
    padding-bottom: 8px;

}

.tour-details {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;

}

.tour-details::after {
    content: url("../img/Vector 1.png");
    margin-left: 16px;
}

.tour-card-link:hover .card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
}

.tour-card-link:hover .tour-card-title {
    color: #F26522;
}


/*MAin-content End */

/*Footer start*/
.copyright-text {
    padding-top: 12px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;

}

/*Footer End*/