.container {
    margin: 0 auto;
}

.user_name {
    width: 50%;
    font-size: 12px;
}
.user_email {
    font-size: 10px ;
}
.post_card {
    display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
   background-color: #F6F9FB;
    margin-bottom: 10px;
    width: 60%;
    padding: 10px 10px;
    align-items: center;

}
.post_card_name_title {
    display: flex;
    justify-content: space-between;
}
.card_title {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 16px;
}
h2 {
    font-weight: bold;
}
.card_description {
    margin-bottom: 5px;
}

.close{

    cursor: pointer;
}
.close:before,
.close:after {
    content: "";
    position: absolute;

    width: 15px;
    height: 4px;
    background: #e62f57;
}

.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}