.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(191, 191, 191, 1);
}


.header__modal__text {
  margin: 0;
  margin-bottom: 10px;

}
.btn_modal {
display: flex;
  justify-content: center;



}
.text_color {
  color: white;
}
.header__modal{
  background-color: red;
  padding: 20px 20px;
}
.modalOne {



}
.modalTwo {
  background-color: blue;
}