.bottom-hidden-text {
  display: none;
}
.bottom-hidden-img {
  display: none;
}
.bottom-of-page-redirect-link {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Roboto, sans-serif;
  line-height: 22px;
  font-weight: 700;
  color: #4E4E4E;
}
.hidden-plus {
  display: none;
}
.bottom_of_page {
  margin-left: 28px;
  margin-bottom: 42px;
}
.bottom_of_page_title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-bottom: 13px;
  color: #4E4E4E;
}
@media all and (min-width: 481px) and (max-width: 992px) {
  .bottom-hidden-img {
    display: inline-block;
  }
  .bottom-hidden-text {
    display: inline-block;
  }
  .bottom_of_page {
    margin-left: 80px;
  }
  .bottom-page-img-item {
    display: flex;
    flex-wrap: wrap;
  }
  .bottom_of_page_img {
    width: 249px;
    margin-right: 6px ;
  }
  .bottom_of_page_text {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (min-width: 993px) {
  .bottom_of_page_img {
    width: 24%;
  }
  .bottom_of_page_text {
    display: flex;
    justify-content: space-between;
  }
  .bottom-hidden-text {
    display: inline-block;
  }
  .bottom-hidden-img {
    display: inline-block;
  }
  .hidden-plus {
    display: inline-block;
  }
}