
.footer-background{
  background-color: black;
}

.section_content {

  text-align: center;
  padding: 40px 35px;
}

//Footer text

.footer_title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: white;
  margin-bottom: 8px;
}
.footer-subtitle {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #B9B9B9;
  margin-bottom: 26px;
}
.footer_adress_text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #B9B9B9;
}
 .footer__item {
   text-decoration: none;
   margin-right: 6px;
 }
 .footer__links {
   margin-bottom: 25px;
 }