.nav__list {
  display: inline-block;

}

.nav__link__active {
  color: #57A4A4;
}
.nav__item {
  list-style: none;
  margin-bottom: 8px;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto sans-serif;
  line-height: 22px;
  padding-left: 14px  ;
}
.nav__item:hover {
background-color: #E5E5E5;
}
.nav {
  position: relative;

}
.burger-menu_button {
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 30;
  width: 44px;
  height: 37px;
  background-color: black;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:active {
  position: absolute;

  font-size: 10px;
  color: #FFF;
  line-height: 10px;
  text-align: center;;
}

.burger-menu_button:hover {
  //background-color: black;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color:white;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -6px;
  left: 0;
}
.burger-menu_lines::after {
  content: '';
  top: 6px;
  left: 0 ;
}

@media all and (min-width: 481px) and (max-width: 992px){
  .burger-menu_button {
    display: none;
  }
  .nav__list{
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-around;
    background-color: white;
  }
  .nav__link {
    font-size: 11px;
    line-height: 22px;
  }



}

@media all and (min-width: 993px) {
  .burger-menu_button {
    display: none;
  }
  .nav__list{
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-around;
    background-color: white;
  }
  .nav__link {
    font-size: 11px;
    line-height: 22px;
  }

}


